.MainContentsContainer{
    display: flex;
    flex-direction: row;
}
.contentDiv{
    border: 0.1rem solid #CDCDCE;
    box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
    background-color: white;
}

.content{
    width: 92%;
    height: auto;
    padding: 1rem;
}

.moveButtonArea{
    margin-right: 1.8rem;
    width: 8%;
}

.approvalHeader{
    height: 6rem;
    border-radius: 0.6rem;
}

/* 검색창 설정 */
.prevBtn, .nextBtn{
    cursor: pointer;
}

.searchForm{
    padding-left: 2rem;
    gap: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchName{
    width: 30rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.6rem;
    
}

.searchHeight{
    height: 3rem;
}

.searchDate{
    width: 15rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.6rem;
}

.dateBtn{
    background-color: #444444;
    border: none;
    color: white;
    width: 6.8rem;
    font-size: 1.6rem;
    border-radius: 0.6rem;
}

/* 필터 css */
.filter{
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    width: 100%;
    height: 8rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.6rem;
    box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
}


.column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column > *{
    font-size: 1.6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first, .second{
    height: 50%;
}

.title{
    color: white;
    width: 15%;
    background-color: #444444;
}

.firstTitle{
    border-radius: 0.6rem 0 0 0;
}

.SecondFirstTitle{
    border-radius: 0 0 0 0.6rem;
}
.firstDetail{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.firstFilterSelect{
    margin-left: 5rem;
}


.secondDetail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;

}

.filterShadow{
    box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
}

.filterSelect{
    width: 25%;
}
.yesOrNo{
    margin-left: 5rem;
    margin-right: 5rem;
}

/* 정렬버튼 */
.orderBtnArea{
    margin-block: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 3.5rem;
}

.orderBtn{
    width: 10rem;
    height: 3rem;
    background-color: #444444;
    border: none;
    color: white;
    border-radius: 0.6rem;
}

/* 테이블 */
.contentsAreaBox{
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    height: 52rem;
    background-color: white;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

.contentsTable{
    border-spacing: 0;
    text-align: center;
}
.headLine{
    padding: 0;
    width: 100%;
    height: 3.5rem;
    font-size: 1.4rem;
    color: white;
    background-color: #444444;
}

.headLine td:nth-child(1) {
    border-radius: 0.6rem 0 0 0;
    width: 2%;
}

.headLine td:nth-child(2) {
    width: 4%;
}

.headLine td:nth-child(3) {
    width: 9%;
}
.headLine td:nth-child(4) {
    width: 7%;
}
.headLine td:nth-child(5) {
    width: 8%;
}

.headLine td:nth-child(6) {
    width: 8%;
}

.headLine td:nth-child(7) {
    width: 14%;
}

.headLine td:nth-child(8) {
    width: 7%;
}

.headLine td:nth-child(9) {
    width: 6%;
}

.headLine td:nth-child(10),
.headLine td:nth-child(11),
.headLine td:nth-child(12),
.headLine td:nth-child(13),
.headLine td:nth-child(14){
    width: 7%;
}

.headLine td:nth-child(14) {
    border-radius: 0 0.6rem 0 0;

}

.contentsTable tbody tr td {
    border-right: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
    padding: 0;
    box-sizing: border-box;
    height: 3rem;
    font-size: 1.4rem;
}
.contentsTable tbody tr td:last-child{
    border-right: none;
}
