.orderListScrollYBox::-webkit-scrollbar {
    width: 1rem;
}
.orderListSub::-webkit-scrollbar {
    height: 1rem;
}
.orderListScrollYBox::-webkit-scrollbar {
    width: 1rem;
}
.orderListScrollYBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
}
.orderListSub::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
}
.orderListScrollYBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
}
.orderListScrollYBox::-webkit-scrollbar-track {
    background-color: #D2D2D2;
}
.orderListSub::-webkit-scrollbar-track {
    background-color: #D2D2D2;
}
.orderListScrollYBox::-webkit-scrollbar-track {
    background-color: #D2D2D2;

}

.MainContentsContainer{
    font-size: 1.4rem;
}


.scrollingTableListHeader{width: 100%;
height: 3.6rem;
background-color: #444444;
}


/* 고정테이블 시작 */
.contentsAreaBox{
    width: 100%;
    height: 70rem;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0 0 1rem 0;
    box-sizing: border-box;
    background-color: white;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}
.orderListMain{
    display: flex;
    flex-direction: column;
    width: 21.3rem;
    height: 100%;
    border-right: 0.1rem solid #CDCDCE;
    box-sizing: border-box;
}
.orderListTableHead {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10.1rem;
    background-color: #444;
}
.orderListTableHead .orderListMainContents, .orderListTableHead .orderListSubContents {
    color: white;
}
.orderListMain0{
    width: 20%;
}
.orderListMain1 {
    justify-content: center;
    width: 20%;
}
.orderListMain2{
    width: 30%;
}
.orderListMain
.orderListMainContents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    border-right: 0.1rem solid #CDCDCE;
    box-sizing: border-box;
}

.orderListMain3{
    border: none !important;
}


.orderListItem,
.orderListSubItem{
    display: flex;
    width: 100%;
    height: 3.9rem;
    background-color: #ffffff;
    border-bottom: 0.1rem solid #CDCDCE;

}

/* 고정 테이블 done */

/* 데이터 테이블 */
.orderListSub {
    display: flex;
    flex-direction: column;
    width: calc(100% - 21.3rem);
    height: calc(100% + 1rem);
    overflow-x: scroll;
}
.tableBody {
    height: 100%;
    width: 180%;
    border-spacing: 0;
    box-sizing: border-box;
    table-layout: fixed;
}
/* 데이터 헤더 시작 */
.thead {
    display: flex;
    width: 100%;
    height: 10.1rem;
    border-spacing: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #444444;
    color: white;
}
.thead > *{
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 0.1rem solid #CDCDCE;
}
.theadThLast{
    border-right: none;
}

.theadDate{
    width: 9.8182%;
}
.theadWorkTime, .theadBasic, .theadNormal, .theadSum, .theadAdditionalAllowance{
    width: 5.6727%;
}
.theadOrdinarySalary{
    width: 28.3635%;
    display: block;
}
.theadOrdinarySalary > *, .theadLegalAllowance > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.theadOrdinarySalaryTitle, 
.theadLegalAllowanceTitle,
.theadLegalAllowanceContentDoubleTitle,
.theadInsuranceTitle,
.theadDeductionDetailsTitle{
    height: 40%;
    border-bottom: 0.1rem solid #CDCDCE;
}
.theadOrdinarySalaryContent,
.theadLegalAllowanceContent,
.theadLegalAllowanceContentDoubleContent,
.theadInsuranceContent,
.theadDeductionDetailsContent{
    display: flex;
    height: 60%;
}
.theadLegalAllowance{
    width: 51.0543%;
    display: block;
}
.theadInsurance{
    width: 11.3454%;
    display: block;
}
.theadDeductionDetails{
    width: 45.3816%;
    display: block;
}
.theadOrdinarySalaryContent *{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid #CDCDCE;
    width: 20%;
    height: 100%;
}
.theadLegalAllowanceContent > *,
.theadDeductionDetailsContent > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.1111%;
    height: 100%;
    border-right: 0.1rem solid #CDCDCE;
}
.theadDeductionDetailsContent > *{
    width: 12.5%;
}
.theadLegalAllowanceContentDoubleContent > *,
.theadLegalAllowanceContentDoubleTitle,
.theadInsuranceContent > *,
.theadInsuranceTitle,
.theadDeductionDetailsContent > *,
.theadDeductionDetailsTitle
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.theadLegalAllowanceContentDoubleTitle,
.theadInsuranceTitle,
.theadDeductionDetailsTitle{
    width: 100%;
}
.theadLegalAllowanceContentDouble{
    display: block;
    justify-content: center;
    align-items: center;
    width: 22.2222%;
}


.theadOrdinarySalaryContentLast, 
.theadLegalAllowanceContentLast,
.theadDeductionDetailsContentLast{
    border-right: none;
}
.theadLegalAllowanceContentDoubleContentFirst,
.theadInsuranceContentFirst{
    border-right: 0.1rem solid #CDCDCE;;
}
/* 데이터헤더끝 */
.tbody{
    width: 100%;
    height: calc(100% - 10.1rem);
}
.tbodyItemTr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.9rem;
    border-bottom: 0.1rem solid #CDCDCE;
}

.tbodyItemTrTd{
    height: 100%;
    width: 5.6727%;
    border-right: 0.1rem solid #CDCDCE;
}
.tbodyItemTr > * {
    height: 100%;
}

.tbodyDate{
    width: 9.8182%;
    border-right: 0.1rem solid #CDCDCE;
}
.tbodyWorkTime, .tbodyBasic, .tbodyNormal, .tbodySum, .tbodyAdditionalAllowance{
    width: 5.6727%;
    border-right: 0.1rem solid #CDCDCE;
}
.tbodyOrdinarySalary{
    width: 28.3635%;
    display: block;

}
.tbodyOrdinarySalary > *{
    width: 20%;
    border-right: 0.1rem solid #CDCDCE;
}
.tbodyLegalAllowance{
    width: 51.0543%;
    display: block;
}
.tbodyLegalAllowance > *{
    
    width: 11.11111111111111%;
    border-right: 0.1rem solid #CDCDCE;
}

.tbodyInsurance{
    width: 11.3454%;
    display: block;
}
.tbodyInsurance > *{
    width: 50%;
    border-right: 0.1rem solid #CDCDCE;
}
.tbodyDeductionDetails{
    width: 45.3816%;
    display: block;
    border-right: 0.1rem solid #CDCDCE;
}
.tbodyDeductionDetails > *{
    width: calc(12.5% - 0.1rem);
    border-right: 0.1rem solid #CDCDCE;
}
.tbodySumLast{
    border-right: none;
}

.tbodyDate,
.tbodyWorkTime, .tbodyBasic, .tbodyNormal, .tbodySum, .tbodyAdditionalAllowance,
.tbodyOrdinarySalary > *,
.tbodyLegalAllowance > *,
.tbodyInsurance > *,
.tbodyDeductionDetails > *{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
