<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/kingbus/salary/css/salary_details.css">
    <title>Document</title>
</head>
<body>
    <div class="salaryDetails">

        <!--제목-->
        <div class="detailsTitle">급여명세서</div>
        <!--제목 끝-->

        <!--인적사항 테이블-->
        <div class="personalInformation"> 

            <table>
                <tbody>
                    <tr class="informationWidth">
                        <td rowspan="2" class="titleTd">인 적 사 항</td>
                        <td class="titleTd">이 름</td>
                        <td>김 원 탁</td>
                        <td class="titleTd">직 책</td>
                        <td>승 무 원</td>
                        <td class="titleTd">입 사 일 자</td>
                        <td>2 0 2 4 - 0 6 - 1 2</td>
                    </tr>

                    <tr>
                        <td class="titleTd">근 무 시 간</td>
                        <td>-</td>
                        <td class="titleTd">기 본 급</td>
                        <td>-</td>
                        <td class="titleTd">-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!--인적사항 테이블 done-->

        <!--급여명세 테이블-->
        <div class="detailsContent">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2" class="titleTd tableWidth">지 급 내 역</td>
                        <td class="titleTd tableWidth">지 급 액</td>
                        <td colspan="2" class="titleTd tableWidth">공 제 내 역</td>
                        <td class="titleTd tableWidth">공 제 엑</td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">임 금</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2">갑 근 세</td>
                        <td>660,410</td>
                    </tr>
                    
                    <tr>
                        <td class="titleTd" colspan="2">직 책 수 당</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2">주 민 세</td>
                        <td>660,410</td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">식 대</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2">고 용 보 험</td>
                        <td>660,410</td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">근 속 수 당</td>
                        <td>660,000</td>
                        <td colspan="2" class="titleTd">건 강 보 험</td>
                        <td>660,000</td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">주 휴 수 당</td>
                        <td>660,000</td>
                        <td colspan="2" class="titleTd">장 기 요 양</td>
                        <td>660,000</td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">법 정 휴 일</td>
                        <td>660,000</td>
                        <td colspan="2" class="titleTd">국 민 연 금</td>
                        <td>660,000</td>
                    </tr>

                    <tr>
                        <td class="titleTd" rowspan="2">주 연 장</td>
                        <td class="titleTd">기 본 임 금</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2">추 가 수 당</td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td class="titleTd">가 산 임 금</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2"></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">야 간 근 로 가 산 임 금</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2"></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="titleTd" rowspan="2">휴 일 근 로</td>
                        <td class="titleTd">기 본 임 금</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2"></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td class="titleTd">가 산 임 금</td>
                        <td>-</td>
                        <td class="titleTd" colspan="2"></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">연 차 수 당</td>
                        <td>283,714</td>
                        <td class="titleTd" colspan="2"></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="titleTd" colspan="2">지 급 액 계</td>
                        <td>7,000,000</td>
                        <td class="titleTd" colspan="2">공 제 액 계</td>
                        <td>971,541</td>
                    </tr>

                    <tr>
                        <td class="titleTd bold" colspan="3">합 계</td>
                        <td class="bold" colspan="3">6,104,185</td>
                        
                    </tr>

                </tbody>
            </table>
        </div>
        <!--급여명세 테이블 done-->

        <!--회사명, 날짜-->
        <div class="comapanyDate">
            <span>회사명: (주)성화투어</span>
            <span>지금일 : 2024-06-19</span>
        </div>
        <!--회사명, 날짜 done-->

        <div class="thankYou">
            <span>귀하의 노고에 감사드립니다</span>
        </div>
    </div>
</body>
</html>