.popup {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000; /* 최상위 */
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: auto; /* 스크롤 활성화 */
  background-color: rgba(0, 0, 0, 0.16); /* 검은색 배경 투명도 */
}
.popupTitle {
  padding-top: 2.5rem;
}
.popupTitle span {
  font-weight: bold;
  font-size: 2rem;
}
.popupTitle hr {
  width: 100%;
  color: black;
}
.popupContent {
  background-color: #fefefe;
  margin: 4rem 12rem; /* 가운데 정렬 */
  padding: 20px;
  border: 1px solid #888;
  width: 152.1rem;
  height: 88.7rem; /* 화면 크기에 따라 조절 가능 */
}
.popupSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 8.8rem;
  padding: 1.5rem 0;
  box-sizing: border-box;
}
.popupArticleBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1rem;
  margin-bottom: 3rem;
}
.popupArticleDouble {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(33.3% - 2rem);
  height: 2.8rem;
}
.vehicleNumBox {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 29rem;
}
.vehicleNumBox :last-child {
  margin-left: 1rem;
}
.popupArticleLabel {
  width: 15rem;
  text-align: left;
  font-size: 2.2rem;
}
.popupArticleInputTwice {
  margin-left: 1rem;
  width: 9.3rem;
  height: 3.1rem;
  border: 0.1rem solid #575757;
  border-radius: 0.5rem;
  outline: none;
}
.popupArticleInput {
  width: 20rem;
  height: 3.1rem;
  border: 0.1rem solid #575757;
  border-radius: 0.5rem;
}
.popupArticleBoxTwo,
.popupArticleBoxOne {
  display: flex;
  justify-content: flex-start;
}
.popupArticleBoxOne {
  justify-content: space-between;
}
.popup input[type=radio] {
  width: 2rem;
  height: 1.2rem;
}
.popupArticleTrueFalse {
  justify-content: center;
}
.trueFalse {
  justify-content: center;
  display: flex;
  font-size: 1.4rem;
  text-align: center;
}
.aloneTrueFalse {
  width: 49%;
  justify-content: space-evenly;
}
.popupArticleDoubleSecond {
  margin-left: 3.1rem;
}
.closeCreate {
  position: absolute;
  left: 128.3rem;
  top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.close {
  background-color: #ffffff;
  width: 8rem;
  font-size: 2rem;
  margin-left: 1rem;
  color: #000000;
  border: 1px solid black;
}
.create {
  background-color: #4000A8;
  width: 8rem;
  font-size: 2rem;
  margin-left: 1rem;
  color: #ffffff;
  border: 0;
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.6rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-radius: 0.2rem;
  box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
  background-color: white;
  box-sizing: border-box;
}
.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.searchFormLabel {
  font-size: 1.4rem;
  margin-right: 2rem;
}
.searchForm input[type=month] {
  width: 12rem;
  margin-right: 2rem;
}
.searchFormInput {
  width: 18rem;
  height: 2.6rem;
  padding-left: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Noto Sans CJK KR";
  font-size: 1.4rem;
}
.searchFormSearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  margin-left: 2rem;
  padding: 0 1.8rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #444444;
  cursor: pointer;
}
.searchVehicleNum {
  width: 37.2rem;
  height: 4.2rem;
}
.searchForm input[type=date],
.searchVehicleNum,
.searchFormInput {
  height: 2.6rem;
  padding-left: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Noto Sans CJK KR";
  font-size: 1.4rem;
}

/*table head*/
.tableList{
  width: 100%;
  height: auto;
  border-spacing: 0;
  }
  .tableListSuperHeadTr th {
  text-align: center;
  background-color: #444444; /* 상위 헤더의 배경색 */
  color: white; /* 글자색 */
  padding: 10px; /* 패딩 */  
}
.tableList td, .tableList th {
  border: 1px solid #D2D2D2; 
  padding: 8px; 
  }
  .tableListHeadTr th {
    text-align: center;
    background-color: #444444; /* 하위 헤더의 배경색 */
    color: white; /* 글자색 */
    padding: 10px; /* 패딩 */
    }
    .tableListHeadTr{
      width: 2rem;
      height: 2.5rem;
      background-color: #444444;
      color: white;
      }